body{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: var(--body-font);
    font-weight: 100;
}
main{
    height: 94%;
    width: 87%;
    background-color: var(--white);
    border-radius: 25px;
    padding: 50px;
    overflow: hidden;
    display: grid;
}
.header{
    display: flex;
    justify-content: space-between;
}

.text h1{
    font-size: 37px;
}
.text h2{
    color: var(--main-green);
    font-family: var(--title-font);
    font-size: 36px;
}
.input-info{
    height: 50px;
    width: 69%;
    padding-left: 25px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 2px solid #000000;
    border-radius: 25px;}
input{
    height: 50px;
    width: 98%;
    padding-left: 25px;
    outline: 0;
    background: none;
   font-size: 20px;
   padding-top: 5px;
   border: none;
}
input::placeholder{
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--placeholder-color);
    padding-top: 5px;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.grid{
    display: flex;
    justify-content: space-evenly;
}
.message{
    background-image: url(../img/home-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 719px;
    height: 315px;
    border-radius: 25px;
}
.message p{
    width: 391px;
    font-size: 24px;
    padding-block: 56px;
    padding-inline: 26px;
    font-weight: 500;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 315px;
    width: 413px;
    background-color: var(--bg-color);
    border-radius: 25px;
    padding-inline: 32px;
    padding-top: 10px;
}
.tasks h1{
    display: flex;
    justify-content: flex-end;
    color: var(--white);
    font-weight: 300;
    font-size: 20px;
}
.title-tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title-tasks p{
    color: var(--main-green);
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 20px;
}
.title-tasks h4{
    color: var(--white);
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 20px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: var(--main-green);
    height: 82px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: start;
    padding-left: 28px;
    align-items: center;
}
.card h1{
    color: var(--bg-color);
       font-family: var(--title-font);
    font-weight: 600;
}
.calender{
    width: 719px;
    height: 315px;
    border-radius: 25px;
    background-color: var(--bg-color);
}
.image{
    height: 315px;
    width: 413px;
    border-radius: 25px;
    background-image: url(../img/home-img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}