body{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
}
nav{
    height: 100%;
    width: 10%;
}
main{
    height: 94%;
    width: 87%;
    background-color: var(--white);
    border-radius: 25px;
}