body{
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 238px;
}
.slogan-container{
    background-color: var(--light-green);
    width: 544px;
    height: 717px;
    border-radius: 25px;
    padding-inline: 56px;
    padding-bottom: 17px;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-header{
    display: grid;
    gap: 39px;
}
.text{
    color: var(--dark-green);
    font-family: var(--title-font);
    font-size: 40px;
}
.image-container{
    display: flex;
    justify-content: center;
}
.slogan-image {
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 89px;
    padding-bottom: 20px;
}
.input-container{
    display: grid;
    gap: 30px;
}
input{
    border-radius: 25px;
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    outline: 0;
    padding-left: 35px;
    font-family: var(--body-font);
}
::placeholder {
    color: var(--white);
}
button{
    width: 335px;
    height: 69px;
    border-radius: 25px;
    font-family: var(--title-font);
    color: var(--main-green);
    font-size: 32px;
    background-color: transparent;
    border: 2px solid var(--main-green);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);  
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    color: var(--bg-color);
    background-color: var(--main-green);
    transform: translateY(-0.125em);
}