:root{
    --bg-color: #1A1E29;
    --light-green: #CFF4D3;
    --dark-green: #26624A;
    --main-green: #7DE495;
    --task-green: #344B58;
    --button-task: #263842;
    --white: #FFFEFB;
    --title-font: 'Fredoka', sans-serif;
    --body-font: "Montserrat", sans-serif;
    --placeholder-color: #1A1E29;
    --main-red: #E52626;
    --cancel-green: #369b34;
}