:root{
    --bg-color: #1A1E29;
    --light-green: #CFF4D3;
    --dark-green: #26624A;
    --main-green: #7DE495;
    --white: #FFFEFB;
    --title-font: 'Fredoka', sans-serif;
    --body-font: 'Inter', sans-serif;
    --placeholder-color: #1A1E29;
    --main-red: #E52626;
}