body{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
}

/* a{
    justify-content: end;
    display: grid;
    align-items: center;
    padding-right: 50px;
} */

/* button{
    width: 350px;
    height: 100px;
    border-radius: 25px;
    font-family: var(--title-font);
    color: var(--bg-color);
    font-size: 32px; */
/* 
} */

.gif{
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/96/f6/53/96f65338d84640522791a285d0d2570e.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
