body{
    height: 100vh;
    display: flex;
}

.minhas-tarefas{
    color: var(--main-green);
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container1{
    width: 350px;
    height: 552px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 70px;
}

.date{
    color: white; 
    font-family: var(--title-font);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 20px;
}
.tarefas{
    display: flex;
    width: 326px;
    height: 76px;
    background-color: var(--task-green);
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.line{
    place-self: center;
    margin-left: 10px;
    width: 2px;
    height: 38px; 
    background-color: var(--main-green);
}

button{
    display: flex;
    background-color: var(--dark-greeen);
    color: white;
    font-family: var(--body-font);
    border: 22px;
}

.popup {
    display: flex;
    z-index: 9999;
}

.popup-content{
    display: flex;
    width: 326px;
    height: auto;
    background-color: var(--task-green);
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 20px;
    font-family: var(--body-font);
    padding: 20px;
    border-radius: 20px;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}