body{
    height: 100vh;
    display: flex;
}

.minhas-tarefas{
    color: var(--main-green);
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container1{
    width: 350px;
    height: 552px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 11px;
}

.date{
    color: white; 
    font-family: var(--title-font);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 20px;
}
.tarefas{
    display: flex;
    width: 326px;
    height: 76px;
    background-color: var(--task-green);
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.line{
    place-self: center;
    margin-left: 7px;
    width: 2px;
    height: 38px; 
    background-color: var(--main-green);
}

.task-container{
    display: flex;
    gap: 6px;
}

.card{
    width: 326px;
    height: 76px;
    background-color: var(--task-green);
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: var(--body-font);
}

.add-task{
    margin-left: 12px;
    display: flex;
    justify-content: baseline;
    padding-left: 10px;
    gap: 25px;
    width: 327px;
    height: 50px;
    background-color: var(--task-green);
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);  
}

.add-task p {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 15px;
}

.add-task:hover{
    background-color: var(--button-task);
    transform: translateY(-0.125em);
}